/* body{
    position: relative;
} */
                                        /* EX_1 */
/* .red-box,
.blue-box,
.green-box{
    width: 100px;
    height: 100px;
    position: absolute;
}

.red-box{
    border: 2px solid red;
    top: 100px;
    left: 50px;
}

.blue-box{
    border: 2px solid blue;
    top: 300px;
    left: 150px;
}

.green-box{
    border: 2px solid green;
    top: 500px;
    left: 250px;
} */

                                        /* EX_2 */

/* .red-box,
.blue-box,
.green-box{
    width: 100px;
    height: 100px;
    position: absolute;
    display: inline-block;
}

.red-box{
    border: 2px solid red;
    top: 200px;
    left: 100px;
}

.blue-box{
    border: 2px solid blue;
    top: 200px;
    left: 300px;
}

.green-box{
    border: 2px solid green;
    top: 200px;
    left: 500px;
} */

                                        /* EX_3 */
/* .red-box,
.blue-box,
.green-box{
    width: 100px;
    height: 100px;
    position: absolute;
}

.red-box{
    border: 2px solid red;
    top: 100px;
    left: 50px;
}

.blue-box{
    border: 2px solid blue;
    top: 170px;
    left: 100px;
}

.green-box{
    border: 2px solid green;
    top: 230px;
    left: 150px;
} */

                                        /* EX_5 */
/* .red-box,
.blue-box,
.green-box{
    width: 100px;
    height: 100px;
    position: absolute;
}

.red-box{
    background-color: red;
    top: 100px;
    left: 50px;
}

.blue-box{
    background-color: blue;
    top: 170px;
    left: 100px;
    z-index: 1;
}

.green-box{
    background-color: green;
    top: 230px;
    left: 150px;
} */

                                        /* EX_6 */
/* .green{
    width: 800px;
    height: 800px;
    border: 2px solid green;
    position: relative;
    top: 100px;
    left: 500px;
}

.red{
    width: 150px;
    height: 150px;
    border: 2px solid red;
    position: relative;
    top: 150px;
    left: 200px;
} */

                                        /* EX_7 */
/* .green{
    width: 800px;
    height: 800px;
    border: 2px solid green;
    position: relative;
    top: 100px;
    left: 500px;
    background-color: rgb(59, 226, 59);
}

.box1,
.box2{
    width: 150px;
    height: 150px;
    background-color: white;
    position: absolute;
}

.box1{
    top: 100px;
    left: 70px;
}

.box2{
    bottom: 100px;
    right: 70px;
} */


                                        /* EX_8 */
/* .main-box{
    margin: 0 auto;
    width: 300px;
    height: 800px;
    border: 2px solid black;
    position: relative;
    top: 50px;
}

.red,
.yellow,
.green{
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 50%;
    position: relative;
    left: 70px;
}

.red{
    background-color: red;
    top: 100px;
}

.yellow{
    background-color: yellow;
    top: 150px;
}

.green{
    background-color: green;
    top: 200px;
} */


                                        /* EX_9 */
/* .main-circle{
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background-color: rgb(4, 117, 108);
    position: relative;
    top: 50px;
    left: 500px;
}

.circle1,
.circle2{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 150px;
}

.circle1{
    left: 220px;
}

.circle2{
    right: 220px;
}

.square{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 300px;
    left: 350px;
    background-color: white;
}

.right-angle{
    position: absolute;
    height: 30px;
    width: 300px;
    background-color: white;
    bottom: 200px;
    left: 250px;
} */


                                        /* EX_10 */
.page-content{
    width: 800px;
    height: 1200px;
    border: 2px solid yellow;
    margin: 0 auto;
}

p{
    padding: 30px 30px 0px 30px;
    font-size: 25px;
}

.menu{
    background-color: yellow;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    color: black;
    font-size: 20px;
    line-height: 45px;
}