.box{
    width: 800px;
    height: 600px;
}

.square{
    width: 100px;
    height: 100px;
    border: 1px solid red;
    animation: red-square 3s linear 4 alternate 1s none;
}

@keyframes red-square{
    0%{
        margin-left: 0%;
        margin-top: 0%;
    }
    100%{
       margin-left: 100%;
        margin-top: 0%;
    }
}

