.square{
    width: 100px;
    height: 100px;
    border: 1px solid red;
    animation: red-square 3s ease 1 normal 0s none;
}

@keyframes red-square{
    0%{
        background-color: white;
    }
    100%{
        background-color: red;
    }
}