.box{
    width: 800px;
    height: 30px;
}

.square{
    width: 30%;
    height: 100%;
    border: 1px solid red;
    animation: red-square 3s linear infinite alternate .5s none;
    animation-play-state: paused;
}

@keyframes red-square{
    0%{
        width: 30%;
        height: 100%;
        
    }
    100%{
        width: 100%;
        height: 100%;
    }
}

.box .square:hover{
    animation-play-state: running;
}
