div{
    width: 100px;
    height: 100px;
    border: 1px solid red;
    margin: 0 auto;
    margin-top: 50px;
}

.elem1:hover{
    transform-origin: bottom right;
    transform: rotate(45deg);
}

.elem2:hover{
    transform-origin: bottom left;
    transform: rotate(45deg);
}

.elem3:hover{
    transform-origin: center;
    transform: rotate(45deg);
}

.elem4:hover{
    transform-origin: bottom right;
    transform:scale(2);
}

.elem5:hover{
    transform-origin: bottom right;
    transform:skew(45deg)
}