.img{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

img{
    width: 400px;
    height: 300px;
    transition: transform 1s linear 0s;
}

img:hover{
    transform: scale(3,2);
    transition: transform 1s linear 0s;
}