body{
    width: 99vw;
    height: 99vh;
    display: grid;
    grid-template-rows: 15% 45% 30% 10%;
    grid-template-columns: repeat(8,1fr);
    grid-gap: 5px;
    border: 2px solid gray;
}

header{
    display: grid;
    grid-column: 1/9;
    background-color: #52a7f9;
    font-size: 20px;
    color: white;
}

footer{
    display: grid;
    grid-column: 1/9;
    background-color: #0265c0;
    font-size: 20px;
    color: white;
}

main{
    display: grid;
    grid-row: 2/3 ;
    grid-column: 3/6;
    background-color: #6fc041;
    font-size: 20px;
    color: white;
    text-align: center;
}

aside{
    display: grid;
    grid-row: 2/3 ;
    grid-column: 6/7;
    background-color: #b36ae2;
    font-size: 20px;
    color: white;
    text-align: center;
}

.section1{
    display: grid;
    grid-row: 3/4;
    grid-column: 3/5;
    background-color: #f3901a;
    font-size: 20px;
    color: white;
    text-align: center;
}

.section2{
    display: grid;
    grid-row: 3/4;
    grid-column: 5/7;
    background-color: #f3901a;
    font-size: 20px;
    color: white;
    text-align: center;
}