.box{
    width: 400px;
    height: 200px;
    margin-left: 100px;
    margin-top: 100px;
    border: 2px solid red;
    transition: all 0.5s linear 0s;
}

.box:hover{
    background-color: red;
    transition: background-color 1s linear 0s;
}