div{
    width: 300px;
    height: 50px;
    border: 2px solid red;
    margin-top: 50px;
    transition: width 2.5s steps(5,start) 0s;
}

.first:hover{
    width: 100%;
    transition: width 2.5s steps(5,start) 0s;
}

.first:hover + .second{
    width: 100%;
    transition: width 2.5s steps(5,start) 0.5s;
}

