.main{
    width: 400px;
    height: 70px;
    border: 2px solid red;
    font-size: 18px;
    text-align: center;
}

.second{
    width: 300px;
    height: 50px;
    background-color: tomato;
    position: relative;
    top: 30px;
    left: -350px;
    text-align: center;
    font-size: 18px;
    color: white;
    line-height: 40px;
    transition: left 1s linear 0s;
}

.main:hover + div{
    position: relative;
    left: 0px;
    transition: left 0.5s linear 0s;
}